<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/icons8-rupee-32.png"  type="image/png">
    {% block title %}
    <title>IPaidABribe</title>
    {% endblock %}
    <link rel="stylesheet" href="/static/styles.css">
    {% block extra_css %}{% endblock %}
    {% block extra_js %}
    <script src="/static/track_bribe.js"></script>
    <script src="/static/account.js"> </script>
    {% endblock %}
</head>
<body>
    <!-- Theme Toggle Button -->
    <button id="theme-toggle-button">Toggle Theme</button>
    <script>

        document.addEventListener('DOMContentLoaded', () => {
        document.getElementById('signinBanner').style.display = 'none'; 
        });

        document.addEventListener('DOMContentLoaded', () => {
        document.getElementById('usernameBannerr').style.display = 'none'; 
        });

        const themeToggleButton = document.getElementById('theme-toggle-button');
        const currentTheme = localStorage.getItem('theme');

        // Apply saved theme on initial load
        if (currentTheme === 'dark') {
            document.body.classList.add('dark-mode');
            themeToggleButton.textContent = 'Light Mode'; 
        } else {
            themeToggleButton.textContent = 'Dark Mode'; 
        }

        themeToggleButton.addEventListener('click', () => {
            // Toggle the .dark-mode class on the body
            document.body.classList.toggle('dark-mode');

            // Update localStorage and button text
            let theme = 'light';
            if (document.body.classList.contains('dark-mode')) {
                theme = 'dark';
                themeToggleButton.textContent = 'Light Mode';
            } else {
                 themeToggleButton.textContent = 'Dark Mode';
            }
            localStorage.setItem('theme', theme);
        });
    </script>

    <div class="header">
        {% block button %}
        <div class="sub-header">
            {% if current_user %}
                {% block report_bribe %}
                 <a href="/report"> <button class="button-primary">Report Bribe</button></a>
                 {% endblock %}
                 <form action="/signout" method="post" style="display: inline;">
                    <button type="submit" class="button-primary">Sign-out</button>
                 </form>
            {% else %}
                <button onclick="showUsernameForm()" class="button-primary"> Create Account </button>
                <button onclick="showSigninForm('Sign-in to Report Bribe')" class="button-primary">Sign-in to Report</button>     
            {% endif %}
        </div>        
        {% if current_user %}
            {% block welcome_message %}
            <span class="welcome-message">Welcome, 
                <form action="/track_bribe" method="POST" style="display: inline;">
                    <input type="hidden" name="username" value="{{ current_user.user_metadata.get('username', 'User') }}">
                    <button type="submit" class="button-primary">{{ current_user.user_metadata.get('username', 'User') }}</button>
                </form>!
            </span>
            {% endblock %}
        {% endif %}
        {% endblock %}
        <div class="header-buttons" >
            <button class="button-primary" style="margin-left: auto;">Check Stats</button>
            {% if current_user %}
            <button onclick="showTrackBribeForm()" class="button-primary"> Search </button>
            {% else %}
            <button onclick="showTrackBribeForm()" class="button-primary"> Search </button>
            {% endif %}
        </div>
    </div>

    <!-- Account Creation Banner -->
<div id="usernameBanner" class="modal">
    <div class="modal-content" >
        <span class="close" onclick="hideUsernameForm()">&times;</span>
        <h2>Create Your Account</h2>
        <p style="color: rgb(75, 84, 93); text-align: center; margin-top: 10px;">*use your account to track your bribes</p>
        <form id="usernameForm" onsubmit="handleUsernameSubmit(event)">
            <label for="newUsername">Username:</label>
            <input type="text" id="newUsername" name="newUsername" required style="margin-bottom: 0;"  maxlength="20">

            <div class="username-feedback" style="margin-top: 5px; font-size: 0.9em; min-height: 25px;">
                <span id="usernameAvailabilityStatus" style="display: inline-block; margin-right: 10px; font-weight: bold;"></span>
                <span id= "addText" style="color: inherit; margin-right: 5px; font-weight:500;">
                    <!-- Additional text -->
                </span>
                <span id="usernameSuggestions">
                    <!-- Suggestions will be populated here -->
                </span>
                <button type="button" id="refreshSuggestions" title="Refresh Suggestions" style="margin-left: 5px;cursor: pointer;font-size: 1.2em;padding: 0 5px;vertical-align: middle;border: none;background: none;background-color: #1d1d1d;border: 1px solid #ccc;flex-shrink: 0; width: 30px; margin-top: 0;">↻</button>
            </div>

            <label for="password">Password:</label>
            <input type="password" id="signupPassword" name="password" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d\S]+$" minlength="8" 
            oninvalid="this.setCustomValidity('Password must be atleast 8 chars and must have atleast 1 numbers and 1 letters')" 
            oninput="this.setCustomValidity('')">
            
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d\S]+$" minlength="8">
            <input type="checkbox" onclick="togglePasswordVisibility()"> 

            <button type="submit" class="button-primary" style="display: block; margin: 0 auto;" >Submit</button>
            <div id="message"></div>
        </form>  
    </div>
</div>

   <!-- sign in Banner -->
<div id="signinBanner" class="modal">
    <div class="modal-content" >
        <span class="close" onclick="hideSigninForm()">&times;</span>
        <h2>Sign-in to Report </h2>
        <form id="signinForm" onsubmit="handleSigninSubmitForm(event)">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required >

            <label for="password">Password:</label>
            <input type="password" id="signinPassword" name="password" required >
            <input type="checkbox" onclick="togglePasswordVisibility()">

            <input type="hidden" id="signinReportingId" name="reportingId">

            <button type="submit" class="button-primary" style="display: block; margin: 0 auto;" >Submit</button>
            <div id="message"></div>
        </form>  
    </div>
</div>

    <!-- Track Bribe Banner -->
    <div id="trackBribeBanner" class="modal">
        <div class="modal-content">
            <span class="close" onclick="hideTrackBribeForm()">&times;</span>
            <h2 style="margin-bottom: 15px;">Search Report </h2>
            <form id="trackBribeForm" onsubmit="handleTrackBribeSubmit(event)">
                {% if current_user %}
                <label for="trackUsername">Username:</label>
                <input type="text" id="trackUsername" name="username">

                <p style="text-align: center;">OR</p>
    
                <label for="reportingId">Reporting ID:</label>
                <input type="text" id="reportingId" name="reportingId">

                {% else %}
                <label for="reportingId">Reporting ID:</label>
                <input type="text" id="reportingId" name="reportingId">

                {% endif %}
                <button type="submit" class="button-primary" style="display: block; margin: 0 auto;">Submit</button>
                <div id="trackMessage"></div>
            </form>
        </div>
    </div>
    {% block content %}
  
    {% if error %}
       <div class="error-message" style="color: red; text-align: center; margin-bottom: 15px;">{{ error }}</div>
    {% endif %}

   <h2>*Reports are user-submitted and not verified</h2>
   <h1>Bribe Leaderboard</h1>
    <div class="table-container">
        <table class="leaderboard">
            <thead>
                <tr>
                    <th>Official Name</th>
                    <th>Department</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Amount</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                
                {% for bribe in bribes %}
                <tr>
                    <td>{{ bribe.ofcl_name }}</td>
                    <td>{{ bribe.dept }}</td>
                    <td>{{ bribe.state_ut }}</td>
                    <td>{{ bribe.district }}</td>
                    <td>₹{{ bribe.bribe_amt }}</td>
                    {% if current_user %}
                    <td>
                        <form action="/track_bribe" method="POST" style="display: inline;">
                            <input type="hidden" name="reportingId" value="{{ bribe.bribe_id }}">
                            <button type="submit" class="button-primary">View Details</button>
                        </form>
                    </td>
                    {% else %}
                    <td>
                        <button onclick="showSigninForm('Sign-in to view more details', '{{ bribe.bribe_id }}')" class="button-primary">View Details</button>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Pagination Controls -->
    <div class="pagination">
        {% if page > 1 %}
            <a href="/?page={{ page - 1 }}" class="button-primary">Previous</a>
        {% endif %}
        {% for p in page_numbers %}
            {% if p == page %}
                <span class="current-page">{{ p }}</span>
            {% else %}
                <a href="/?page={{ p }}" class="button-primary">{{ p }}</a>
            {% endif %}
        {% endfor %}
        {% if page < total_pages %}
            <a href="/?page={{ page + 1 }}" class="button-primary">Next</a>
        {% endif %}
    </div>
    {% endblock %}

</body>
</html>
